@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url(assets/bg.svg);
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body>div{
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
    justify-items: center;
    gap: 2.5vh;
    padding: 30px 0px;
}

body>div>p{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

body>div>button{
    background: rgb(142, 236, 142);
    width: 100px;
    height: 50px;
    font-weight: 500;
    border-radius: 15px;
}

dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 15px;
}
dialog::backdrop{
    backdrop-filter: blur(10px);
   
}

fieldset{
    border: none;
    width: 350px;    
}

legend{
    text-align: center;
    margin-bottom: 40px;
}

fieldset>div{
    display: grid;
    grid-template: repeat(5,1fr)/1fr 1fr;
    /* row-gap: 10px; */
    column-gap: 2px;
    align-items: center;
}

input[type="text"],input[type="number"]{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.556);
}

input:focus{
    outline: none;
}

#cancel,#confirm{
    justify-self: center;
    width: 150px;
    height: 30px;
    border-radius: 12px;
}

#cancel{
    background-color: rgb(251, 95, 95);
    margin-top: 30px;  
}

#confirm{
    background: rgb(142, 236, 142);
    margin-top: 30px;   
}



#lib{
    background-color: rgba(245, 245, 245, 0.695);
    width: 50vw;
    border-radius: 15px;
    padding: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.book{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: whitesmoke;
    box-shadow: 0px 1px 12px -5px rgba(0, 0, 0, 0.738);
    padding: 20px;
    border-radius: 15px;
    
}
.book>:nth-child(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    align-items: center;   
}

.book>:nth-child(1)>:nth-child(odd){
    font-weight: 500;
    font-size: 20px;
}

.book>:nth-child(2){    
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
    

.book>:nth-child(2)>label{
    display: flex;
    gap: 10px;
}



.remove{
    background-color: rgb(251, 95, 95);
    width: 100px;
    height: 35px;
    font-weight: 500;
    border-radius: 15px;
}

/* errors */
.error{
    grid-column: span 2;
    margin-bottom: 10px;
    text-align: end;
    color: red;
}

